@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

.App {
  text-align: center;
}

.logo{
  color: crimson;
  font-family: 'Libre Barcode 39 Text', cursive;
  text-align: center;
}
