@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.App {
  text-align: center;
}

.logo{
  color: crimson;
  font-family: 'Libre Barcode 39 Text', cursive;
  text-align: center;
  
}
/* .logo:hover{
  transition: transform 500ms ease-in-out;
  animation: dance 1s linear infinite 500ms;
} */

.navbar {
  font-family: 'Racing Sans One', cursive;
  text-decoration: none;
}
.navbar:hover {
  color: crimson;
}
 .Link {
  color: green
}

/* @keyframes dance {
  0% {transform: rotate(0);}
  25%{transform: rotate(15deg);}
  50%{transform: rotate(-0);}
  75%{transform: rotate(-15deg);}
} */